*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

.container{
    max-width: 1160px;
    padding:0 50px;
    margin-left: auto;
    margin-right: auto;
}

.navbar{
    display:flex;
    justify-content: space-between;
    padding:25px 0;
    position:sticky;
    top:0;
    background-color: #FFFFFF;
}

.nav{
    list-style: none;
    display: flex;
    font-family: Barlow;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.nav-item{
    margin:0 10px;
}

.nav-item > a{
    text-decoration: none;
    color:#83888F;
}

.header{
    background-color: #6d7277;
    border-radius: 10px;
    padding:50px;
}

.header-width{
    width:500px;
}

.header > h1{
    padding:0;
    margin:0;
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color:#FEFCF7;
}

.header > p{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.header > a{
    text-decoration: none;
    background: #0E8784;
    color:#FFFFFF;
    border-radius: 6px;
    padding:15px;
}

.section-top{
    display: flex;
    position: relative;

}

.section-top > h1{
    position: absolute;
    z-index: -1;
    background: linear-gradient(180deg,rgb(224, 221, 224), #fbfbfd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 100px;
    font-size: 6em;
}

.order-section{
    display: flex;
    justify-content: space-between;

}

.order{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding:150px 0;
    margin:0 10px;
    margin-left: 50px;
    width:200px;
    height:3px;
}

.order > h4{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.order > p{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

.section-middle{
    /* position: relative; */
}

.border{
    margin-top:300px;
    background-color: rgb(29, 30, 37);
    height:400px;
    border-radius: 10px;
    position: relative;
}

.border > h2{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    padding-top:60px;
}

.border > p{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    width:500px;
    margin:auto
}

.trade{
    display:flex;
    position: absolute;
    bottom: -140px;
    left:70px;
}

.card{
    width: 260px;
    position: relative;
    background-color: #0E8784;
    padding:50px 25px;
    height:270px;
    text-align: center;
    margin:0 25px;
    box-sizing: border-box;
}

.card1::after {
    content: "";
    width: 50px;
    height:50px;
    background: url("../img/cofe.svg");
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 100px;
}

.card2::after {
    content: "";
    width: 50px;
    height:50px;
    background: url("../img/card2.svg");
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 100px;
}

.card3::after {
    content: "";
    width: 50px;
    height:50px;
    background: url("../img/card3.svg");
    background-size: 100% 100%;
    position: absolute;
    top: 30px;
    left: 100px;
}

.card > h4{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.card > p{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

.section-bottom{
    margin-top: 300px;
    position: relative;
}

.works{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.line{
    width:700px;
    height:3px;
    border: 2px solid #FDD6BA;
}

.line::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #0E8784;
    border-radius: 50%;
    background-color: #FEFCF7;
    position: absolute;
    top:54px;
    left: 0;
}

.line::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #0E8784;
    border-radius: 50%;
    background-color: #FEFCF7;
    position: absolute;
    top:54px;
    left: 350px;
}

.after::after {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #0E8784;
    border-radius: 50%;
    background-color: #FEFCF7;
    position: absolute;
    top:54px;
    left: 700px;
}

.menu{
    display:flex;
}

.menu-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:300px;
    margin:0 20px;
}

.menu-list > h1{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    margin-bottom:0;
}

.menu-list > h2{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    margin-bottom: 0;
}

.menu-list > p{
    font-family: Barlow;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    height:80px;
}

.link{
    font-family: Fraunces 9pt;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    text-decoration: none;
    background: #0E8784;
    border-radius: 6px;
    padding:10px 20px;
    position: absolute;
    margin: 60px 0;
}

.footer{
    display: flex;
    position: relative;
    top: 200px;
    background: #2C343E;
    align-items: center;
}

.foot-img{
    margin-left: 50px;
    color:#FFFFFF
}

.foot-list{
    display: flex;
    list-style: none;
}